<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.1.0" targetFramework="net462" />
  <package id="Caliburn.Micro.Core" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net462" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net461" />
</packages>