<connectionStrings>
  <!--<add name="ConnectionString" connectionString="Data Source=prover_data.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe.4.0" />-->
  <add name="ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=prover_test_crwall;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
</connectionStrings>